
html,
body,
.main-container {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 20px;
    text-align: left;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}
    
.top-header{
    border-bottom: 0.5px solid #cccccc;
    background:#ffffff;
    display: flex;
    
    &-title {
        padding-left:15px;
        padding-top: 20px;
        font-family: Georgia;
        font-size: 24px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.15em;
        color: var(--c-black);
        text-transform: uppercase;
        cursor: pointer;
        float: left;
    }
    & .top-header-search {
        width: auto;
        flex: 1 1;
        align-self: center;
        height: 80px;
        padding-left: 8px;
        margin-left: 22px;
        display:inline-block;
        position: relative;
        top: 22px;
    }
    & .verticle-line{
        height: 16px;
        border-left: 2px solid #999999;
        position: absolute;
        margin-left: 14px;
        display: inline-block;
        margin-top: 26px;
    }
}
.left-top-header-content{
    position: relative;
    width: 50%;
    float:left;
}
.input-search-icon{
    background-image: url(https://ribbon.code4demo.com/public/icons/icon-search.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    padding-left: 22px;
    padding-bottom: 6px;
    width: 544px;
    font-weight: normal;
    font-size: medium;
    line-height: 18px;
    letter-spacing: 0.02em;
}